.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer li {
  display: flex;
  padding: 0px 100px;
}

.footer-container {
  border-top: solid 1px;
}
